*{
  margin: 0px; 
  padding: 0px; 
  border: 0px;
}
.App {
  background-color: rgb(24, 160, 160);
  background-size: cover;
  align-items: center;
  justify-content: center;

}

.search-bar{
    border: 2px solid red;
    height: 25px;
    width: 300px;
    position: relative;
    left: 100px;
    border-radius: 10px;
  
    background-repeat: no-repeat;
    
   
}

.body-image-head-text{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(28, 29, 29);
  background-color: aliceblue;
}

.body-image
{
  background-image: url(6.jpg);
  background-size: cover;
  height:30vmax;
}

.body-image-card-text
{
  border-bottom: 2px solid black;
  color: rgb(26, 12, 12);
  position: relative;
  font-size: 25px;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  top: 20px;
  height: 5vmin;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.body-image-card-text:hover
{
  color: black;
}

.body-image-card
{
  
  box-shadow: 0 40px 30px 0 rgba(0,0,0,0.2);
  background-color: aqua;
  position: relative;
  font-size: 25px;
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 25px;
  top: 70px;
  left: 80px;
  height: 20vmax;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.body-image-card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: white;
  
}

.body-image-card-text-btn{
  position: absolute;
  top: 200px;
  right: 140px;
  height: 3vmax;
  border: 2px solid rgb(24, 160, 160);
}

.logo {
  height: 10vmin;
  width: 100%;
  pointer-events: none;
  text-align: center;
  font-size: 40px;
  color:rgb(251, 255, 0);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.motto {
  position: relative;
  bottom: 20px;
  font-style: italic;
  width: 100%;
  pointer-events: none;
  text-align: center;
  font-size: 17px;
  color:rgb(251, 255, 0);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}


.navbar{
  position: relative;
  
  justify-content: center;
}

.menu{
  background-color: rgb(24, 160, 160);
  color: rgb(17, 16, 16);
  position: relative;
  font-size: 15px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: 5vmin;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
.menu-btn
{
  background-color: black;
  color: white;
  font-size: 25px; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;

}
.menu-btn-login-signup
{
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 25px; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 10px;
  margin-left: 15px;
  padding-right: 10px;
  border-radius: 5px;
  position: relative;
  left: 500px;
  
}
